<!Doctype html>
<html lang='pt-br'>
<head>
 	<meta charset="utf-8">
 	<!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="css/editar.css">
 
	 <!-- favicon -->
	 <link rel="shortcut icon" href="img/iconLogo.png"></link>
 
	 <title>Hígia Métis</title>
</head>
<body>
	<nav>
		<div class="icones">
			<img class="img" src="img/logo2.png"  alt="logo3dprint">
			<a class="elemento" href="/">Sair</a>
			<a class="elemento" href="cadastrar">Cadastrar</a>
			<a class="elemento" href="index">Home</a>
		</div>
	</nav>
	
	<section class="container">
		<h2 id="titulo1">Atualizar</h2>
		
		<form action="/atualizar" method="POST" enctype="multipart/form-data">
			<input type="text" name="id_atualizar" value="<%= pacientes[0]._id %>" class="hide">

			<div class="row d-flex align-items-center">
				<div class="col-md-3 col-lg-3 col-sm-3">
					<img src="http://localhost:3000/upload_de_arquivos/upload_images/<%=pacientes[0].img_name%>" id="fotoEditar" class="img-fluid img-thumbnail" alt="<%=pacientes[0].img_name%>">
				</div>
				<div  class="col-md-9 col-lg-9 col-sm-9">
					<div class="form-group">
						<input  class="form-control" type="text" name="nome" placeholder="Nome Completo" value="<%= pacientes[0].nome %>">
					</div>

					<div class="form-group">
						<input  class="form-control" type="number" name="idade" placeholder="Idade" value="<%= pacientes[0].idade %>">
					</div>
					
					<div class="form-group">
						<input  class="form-control" type="number" name="telefone" placeholder="Telefone" value="<%= pacientes[0].telefone %>">
					</div>
				</div>
			</div>
			
			<div class="form-group plano">
				<input  class="form-control" type="text" name="plano" placeholder="Plano de saúde" value="<%= pacientes[0].plano %>">
			</div>
			
			<div class="form-group">
				<textarea  class="form-control" name="ferimento" rows="4" cols="5" placeholder="Descrição do ferimento"><%= pacientes[0].ferimento %></textarea>
			</div>
			

			<div class="form-group">
				<div class='input-wrapper'>
					<label for='pwd'>
						Foto do Paciente &#187;
					</label>
					<input id='pwd' class="form-control" type="file" name="uploaded_image" accept="image/*" value='' onchange="previewImagem()">
					<span id='file-name'></span>
					<p class="altFoto"><%= pacientes[0].img_name %></p>
				</div>
			</div>

			<button type="submit" class="btn btn-outline-primary btnEditar">Atualizar</button>
		</form>
	</section>
	
	<script>
		function previewImagem(){
			var imagem = document.querySelector('input[name=uploaded_image]').files[0];
			var preview = document.getElementById('fotoEditar');

			var reader = new FileReader();

			reader.onloadend = function(){
				preview.src = reader.result;
			}

			if(imagem){
				reader.readAsDataURL(imagem);
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="components/nomeImage.js"></script>

</body>
</html> 